.vscode/**
.vscode-test/**
**/*.map
**/tsconfig.json
**/jest.config*
**/coverage/**
client/node_modules/**
node_modules/**
**/.gitignore
model.json
# ignore the src files (typescript source files)
client/src/**
server/src/**
client/test-harness/**
server/tests/**
server/node_modules/**
